In [1]:
import numpy as np
import pandas as pd
import requests
import json

In [2]:
# New Dependency! Use this to pretty print the JSON
# https://docs.python.org/3/library/pprint.html
from pprint import pprint

In [3]:
# Note that the ?t= is a query param for the t-itle of the
# movie we want to search for.
url = "http://www.omdbapi.com/?t="
api_key = "&apikey=trilogy"

In [5]:
response = requests.get(url + 'Troy' + api_key)
data = response.json()
data['Genre']
Genre = data['Genre']

In [11]:

movies = pd.read_csv(./output/clean_movie_list)

SyntaxError: invalid syntax (<ipython-input-11-0ef2a44d5478>, line 2)

In [10]:
# Performing a GET request similar to the one we executed
# earlier
NR = []
GR = []
RD = []
ML = []
G = []
movies=["Troy","13th warrior"]
for k in movies:
    response = requests.get(url + k + api_key)
    data = response.json()
    IMDB = float(data['Ratings'][0]['Value'].split('/')[0])/10
    RT = int(data['Ratings'][1]['Value'].split('%')[0])/100
    MC = int(data['Ratings'][2]['Value'].split('/')[0])/100
    R = [IMDB,RT,MC]
    Number_Rating = (sum(R) / float(len(R)))*100
    NR = list(np.append(NR,Number_Rating))
    Grade_Rating = data['Rated']
    GR = list(np.append(GR,Grade_Rating))
    Release_Date = data['Released']
    RD = list(np.append(RD,Release_Date))
    Genre = data['Genre']
    L = int(data['Runtime'].split(" ")[0])
    ML = list(np.append(ML,L))
    G = list(np.append(G,Genre))

['Drama, History, Romance', 'Action, Adventure, History']

In [11]:
Table = pd.DataFrame({'Movie Name' : movies,
 'Grade Rating' : GR,
 'Release Date' : RD,
 'Number Rating':NR,
 'Movie Length':ML,
 'Genre':G
  }, columns=['Movie Name','Genre','Grade Rating','Number Rating','Release Date','Movie Length'])
Table

,Movie Name,Genre,Grade Rating,Number Rating,Release Date,Movie Length
0,Troy,"Drama, History, Romance",R,60.666667,14 May 2004,163.0
1,13th warrior,"Action, Adventure, History",R,47.000000,27 Aug 1999,102.0

In [1]:
# Converting the response to JSON, and printing the result.
data = response.json()
pprint(data)

NameError: name 'response' is not defined

In [ ]:
# Print a few keys from the response JSON.
print(f"Movie was directed by {data['Director']}.")
print(f"Movie was released in {data['Country']}.")

In [ ]:
int(data['Runtime'].split(" ")[0])

In [ ]:
IMDB = float(data['Ratings'][0]['Value'].split('/')[0])/10
RT = int(data['Ratings'][1]['Value'].split('%')[0])/100
MC = int(data['Ratings'][2]['Value'].split('/')[0])/100
R = [IMDB,RT,MC]
Number_Rating = (sum(R) / float(len(R)))*100
Grade_Rating = data['Rated']
Grade_Rating 
Release_Date = data['Released']
Release_Date

In [2]:
data

NameError: name 'data' is not defined